/* Estilos gerais da seção de serviços */
.services {
    grid-area: services;
    display: flex;
    flex-direction: column;
    background: url('../images/background_services.jpg') no-repeat center center/cover;
    padding: 20px;
    max-width: 100%;
}

.service-title {
    font-size: 5rem;
    text-align: center;
    margin: 40px 0;
    font-weight: 700;
    color: rgb(248, 93, 37);
}

/* Estilos da galeria (várias imagens lado a lado) */
.service-global {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem a linha */
    gap: 30px;
    padding: 40px;
    justify-content: center;
}

.service-item {
    /* Permite que o texto fique por cima da imagem */
    position: relative; 
    overflow: hidden;
}

.service-item img {
    width: 300px; /* Largura fixa para as imagens da galeria */
    height: auto;
    display: block;
    filter: brightness(0.7);
    transition: 0.7s;
}

.service-item:hover img {
    filter: brightness(1);
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.service-text h5 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.service-slider {
  position: relative;
  width: 100%;
 max-width: 100%;
  margin: 40px auto;
  overflow: hidden;
}

.slider-item {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.service-slider {
  position: relative;
  width: 100%;
  max-width: 100%; /* largura máxima */
  margin: 40px auto;
  overflow: hidden;
}

.slider-item {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item img {
  width: 25%; /* 4 imagens lado a lado */
  flex-shrink: 0;
  border-radius: 10px;
  padding: 5px;
}


.service-slider::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.24), rgba(255,255,255,0));
}

.service-slider::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.24), rgba(255,255,255,0));
}

/* --- Setas --- */
.seta-voltar, 
.seta-avancar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  z-index: 30; /* garante que ficam acima do gradiente */
  opacity: 0.8;
}

.seta-voltar {
  left: -20px;
}

.seta-avancar {
  right: -20px;
}

.imagem-seta {
  width: 50px;
  height: 50px;
}

.seta-voltar .imagem-seta {
  transform: rotate(180deg);
}

/* Tablet */
@media (max-width: 1024px) {
  .slider-item img {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .slider-item img {
    width: 100%;
  }
}

